/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colores =====*/
  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;
  --white-color: #fff;

  /*===== Font and typography =====*/
  --body-font: Poppins, sans-serif;
  --big-font-size: 1.25rem;
  --biggerr-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-index: 100;

  /*===== Rotate img =====*/
  --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --biggerr-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  columns: var(--dark-color);
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 5rem 0 2rem; /* so we give space to breath for our content within container in trbl t:-80px r:-0px b:-32px l:-0px   */
}

.section-title {
  position: relative; /* means some other element gone positon relative to this */
  font-size: var(--big-font-size); /*size of our sec title gone be 20px*/
  margin-bottom: var(
    --mb-4
  ); /*distance from other element form bottom gone be 32px*/
  text-align: center; /* text gone be horizetally center to container*/
  line-height: 0.1rem; /*distance between each word in tile gone be 1.6px*/
}

.section-title::after {
  content: ''; /* act like childless contianer*/
  position: absolute; /* element is postion itslef accordingt sec-title*/
  width: 56px; /* absolute width is given */
  height: 0.8rem; /* very small height but with relative unit*/
  top: -1rem; /* it goes top of sec-title*/
  left: 0; /* don no*/
  right: 0; /* don no*/
  margin: auto; /* to make this center*/
  background-color: var(--dark-color);
}

/*===== LAYOUT =====*/

/*===== NAV =====*/

/*Show menu*/

/*Active link*/

/*Change color header*/

/*===== HOME =====*/

/*BUTTONS*/

/*===== FEATURED =====*/

/*===== COLLECTION =====*/

/*===== WOMEN SNEAKERS =====*/

/*===== OFFER =====*/

/*===== NEW COLLECTION  =====*/

/*===== NEWSLETTER =====*/

/*===== FOOTER =====*/

/* ===== MEDIA QUERIES=====*/
